body {
   display: flex;
   flex-direction: column;
   margin: 0;
   height: 100vh;
   font-family: Arial, Helvetica, sans-serif;
}





header {
   display: flex;
   align-items: center;
   gap: 30px;
   flex: 0 80px;
   background: hsla(206, 30%, 45%, 0.88);
   height: 50px;
   font-size: small;
}

menu {
   list-style: none;
   padding: 0;
   margin: 0;
   flex: 1;
   display: flex;
   flex-direction: row;
   gap: 20px;
   font-size: large;
}

menu li a {
   text-decoration: none;
   color: black;
   font-weight: bold;
}

menu li a:hover {
   color: rgb(52, 57, 65)
}



main {
   padding-top: 200px;
   flex: 1;
   display: flex;
   text-align: center;
   background: hsla(205, 13%, 50%, 0.82);
   flex-direction: column;
}

main form button:hover {
   background: rgb(72, 139, 246)
}

main ul {
   list-style: none;
}





 
footer {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 30px;
   flex: 0 30px;
   background: hsla(206, 30%, 45%, 0.88);
}

footer a {
   color: black;
}

img {
   max-width: 100%;
   height: auto;
 }